* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    @media (min-width: 1981px) {
        font-size: 80%;
    }
    @media (max-width: 760px) {
        font-size: 60%;
    }
    @media (max-width: 600px) {
        font-size: 52.5%;
    }
}

body {
    background: #ddd;
    font-family: Open sans, sans-serif;
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p,
span,
button,
a {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #212529;
}

button {
    cursor: pointer;
}